{{ define "main" }}
  <div class="posts">
    <div class="index-content framed">
        <h1>Hello there!</h1>
        <p>Welcome to my website :) <br>
          <br>
          My name is Cameron Farmer and I am an aspiring Software Developer. By browsing this website, you will be able to learn more about me and see some examples 
          of my work! <br>
          <br>
          By clicking the "aboutMe", "myPortfolio", and "workXp" links above, you can navigate to
          sub-directories of this website's content. To go back and jump up a directory, ("cd .." 
          for my fellow Linux folks) simply click the blue button above the menu starting with 
          "~/root/". <br>
          <br>
          My two favorite pages are my movie watch list under "hobbies", and my password 
          encryption script under "petProjects". Take a look! <br>
          <br>
          Happy browsing!
        </p>
    </div>
  </div>
{{ end }}
